.areas {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.areas select {
  background-color: #ffd31a;
  border-color: #ffd31a;
  border-radius: 6px;
  padding: 8px;
  width: 86%;
}
