header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.header-infos {
  background-color: white;
  box-shadow: 0 0 6px rgb(0 0 0 / 10%);
  display: flex;
  justify-content: space-between;
  padding: 5px 30px;
  width: 100%;
}

.header-infos button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;
}

header img {
  height: 30px;
  width: 30px;
}

header h1, header h2 {
  color: rgba(0, 0, 0, 0.75);
  font-weight: 700;
}

header section {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  width: 100%;
}

header section div {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

header section div input {
  margin-right: 4px;
}

.search-input {
  border: solid 1px black;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 5px;
  width: 100%;
}

.search-button {
  border: solid 1px black;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
}
